.App {
  text-align: center;
}

.logo {
	width: 100px;
	height: 100px;
}

.list {
	margin: auto;
	width: 90%;
	height : 600px;
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

.filterField {
	padding: 10px;
}
